<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Park'd At Curtin</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <header>
        <div class="row text_center" style="margin-top: 10%;">
            <div class="twelve columns">
                <h2>Park'd At Curtin</h2>
            </div>
        </div>

        <nav class="row text_center">
          {% block nav %}
          {% endblock %}
        </nav>
        <div class="six columns offset-by-three">
            <hr/>
        </div>
        <div class="six columns offset-by-three"></div>
        <br/>
    </header>

    <section class="text_center">
      {% block content %}
      {% endblock %}
    </section>

    <footer>
        <div class="row">
            <div class="six columns offset-by-three text_center">
                <a href="/about">About</a>
                <a href="/index.json?date=today">API</a>
            </div>
        </div>
        {% block footer_extra %}{% endblock %}
    </footer>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
