{% extends "base.html" %}

{% block nav %}
    <div class="six columns offset-by-three tight_nav">
        <hr/>
        <div class="one-third column">
            <a href="{{ prev_page }}">Prev</a>
        </div>
        <div class="one-third column">
            {% if is_today %}
                Today
            {% else %}
                {{date.strftime('%d/%m/%Y')}}
            {% endif %}
        </div>
        <div class="one-third column">
            <a href="{{ next_page }}">Next</a>
        </div>
    </div>
    <div class="six columns offset-by-three">
        {% if not is_today %}
            <a href="{{ url_for('index', date='today') }}">Today</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% for place, subvisits in visits %}
        <div class="row">
            <div class="six columns offset-by-three">
                <strong>{{ place }}</strong>
            </div>
        </div>
        {% for visit in subvisits %}
            <div class="row">
                <div class="six columns offset-by-three">
                    {{ visit }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="six columns offset-by-three">
                <hr/>
            </div>
        </div>
    {% else %}
        <h5>No data for stores on campus on this day</h5>
    {% endfor %}
{% endblock %}

{% block footer_extra %}
    <div class="row">
        <div class="six columns offset-by-three text_center">
            <small>Data last updated at {{ updated.strftime('%H:%M %Z %d/%m/%Y') }}</small>
        </div>
    </div>
{% endblock %}
